body{

	
}
.container-fluid{

	padding:0px;

}

.splash-screen{


	min-height:100vh;
	position:fixed;
	width:100% !important;
	overflow:hidden;
	text-align: center;
	transition:transform 2s ease-out;
	background:linear-gradient(to bottom,#282f38,transparent),url('../hero_image.jpg');
	background-position: center;
	background-size:cover;
	

}

.loaded{

	transform:translateY(-100vh);
}


.splash-screen h1{
	margin-top:300px;
	color:#FFF;
	font-family:'Seaweed Script', cursive;
	font-size: 99px;
	line-height: 63px;
	font-weight: 800;
	transition:all 1s ease-in;


}


.logincont{

	
	color:#000;
	transform:translateY(200px);
	opacity:0;
	transition:all 0.5s ease-out;
	padding:50px 50px 0px 50px;

}

.btn-login{

	background-color: #3a75bc;
	border:none;
	color:#FFF;
}

.btn-login:disabled{

	background-color: #3a75bc;
	border:none;
	color:#FFF;
}


.btn-login:hover,.btn-login:focus{

	background-color: #3a75bc;
	border:none;
	color:#FFF;
}


.splash-screen p,.splash-screen a{
	color:#FFF;
	text-decoration: none;
}

a:hover,a:active{
	color:#FFF;
}

.copyright{

	position:absolute;
	left:25px;
	bottom:0px;
	color#FFF !important;
	width:100%;
	text-align:left;
}


.form-control{

	border-radius:0px;
}



.has-error{

	background-color:#f08080;
}

.alert-danger{

	background-color: #f08080;
	color:#FFF;
	border-radius:0px;
	border:none;
}

.form-group .error{

	text-align:left;
	padding:5px;
	font-size: 12px;
	font-weight: 400;
}



.fa-spinner{

	animation:spin 2s infinite linear;

}

@keyframes spin{

	from{
		-webkit-transform-origin:50% 50%;
		transform:rotate(0deg);
	}

	to{
		-webkit-transform-origin:50% 50%;
		transform:rotate(360deg);
	}
}